body{
  background-color: lightblue;
}
table{
	margin-top: 50px;
	text-align: center;
	background: lightgrey;
	color: rgb(0, 0, 0);
}

#show th, #show td{
	padding: 13px;
}

#btna td input{
	width: 100%;
  background-color: lightgoldenrodyellow;

  
}